:root {
  --font-family-sans-serif: "Lato", sans-serif;
  --font-family-monospace: "Hack-ZeroSlash", monospace;
  --color-red: #6e1111;
}

/* Aquí puedes poner el código CSS para darle estilo a tu página */
body {
  background-color: #0a0a23;
  color: var(--color-red);
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title-program {
  font-weight: 700;
  font-size: 45px;
  height: 100%;
  line-height: 1.1;
  margin-bottom: 40px;
  font-family: var(--font-family-sans-serif);
}

.paragraph {
  font-family: var(--font-family-monospace);
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col {
  flex: 1 1 50%;
  text-align: center;
  position: relative;
}

.advice {
  font-family: monospace;
  color: gray;
}

.input,
button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.input {
  width: 95%;
  font-size: 20px;
  font-family: monospace;
  height: 200px;
  color: #fff;
  background-color: #1b1b32;
  resize: none;
}

.btn {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  color: gray;
  display: inline-block;
}

.btn {
  --c: var(--color-red);
  font-size: 16px;
  font-family: monospace;
  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
.btn:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}
.btn:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}

@media (max-width: 500px) {
  .big-heading {
    font-size: 1.5rem !important;
  }
  .input {
    width: 95%;
  }
}

@media (min-width: 507) {
  .input {
    width: 97%;
  }
}

/*Footer*/

.site-footer {
  background-color: #1b1b32;
  font-family: var(--font-family-monospace);
  padding: 10px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: var(--color-red);
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: var(--color-red);
  text-decoration: none;
}
.site-footer a:hover {
  text-decoration: none;
  color: #461397;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #152952;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
